<li class="nav-dropdown-container language">
  <a class="nav-link">Translations</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="/fr/<%- page.path.substr(3) %>" class="nav-link" target="_blank">Français</a></li>
    <li><a href="/en/<%- page.path.substr(3) %>" class="nav-link" target="_blank">English</a></li>
  </ul>
</li>
